@import 'main.css';

h1 {
    font-size: 24px;
    margin-top: 24px;
    overflow: visible;
    padding: 0;
    text-align: center;
}

button {
    background-color: transparent;
    border: none;
    color: black;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
}

.margin-top {
    margin-top: 24px;
}

.main-container {
    display: block;
    align-content: center;
    width: 100%;
}

.row {
    flex-direction: row;
    padding: 12px;
    align-items: center;
    flex: 1;
}

.section-title-row {
    display: flex;
    margin: 32px 16px 8px;
    flex-direction: row;
}

.section-title {
    width: 100%;
    font-size: medium;
}

.info-icon {
    width: 100%;
    text-align: end;
    font-size: 16px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

.navigation-button {
    display: flex;
    align-items: center;
    width: 100%;
}

.navigation-button-text {
    display: flex;
    width: 100%;
    text-align: start;
    margin-left: 8px;
}

.navigation-arrow {
    width: 100%;
    text-align: end;
    margin-right: 24px;
}

.data-row {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 12px;
}

.data-label {
    display: flex;
    text-align: start;
    min-width: 0;
    flex-basis: 50%;
}

.data-text {
    width: 100%;
    text-align: right;
    direction: rtl;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: grey;
}

.attachment_label {
    display: flex;
    text-align: start;
    min-width: 0;
    flex-basis: 100%;
}

.divider-horizontal {
    height: 0.5px;
    background-color: grey;
}

.margin-top {
    margin-top: 16px;
}

/* The switch - the box around the slider */
.switch-row {
    display: flex;
}

.switch-label {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    margin-left: 8px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 74px;
    height: 34px;
    margin-right: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Arrow right */

.arrow-right {
    display: flex;
    align-items: center;
    border: solid grey;
    border-width: 0 3px 3px 0;
    padding: 3px;
    margin-right: 16px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/* Inbox */

.badge {
    display: none;
    background-color: #2196f3;
    color: white;
    padding: 4px 8px;
    margin-right: 16px;
    text-align: center;
    border-radius: 5px;
}
