* {
    -webkit-tap-highlight-color: rgba(
            43,
            66,
            247,
            0.2
    ); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: white;
    color: black;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size: 12px;
    height: 100vh;
    width: 95%;
}

.app {
    padding-top: 12px;
    padding-bottom: 12px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    padding: 16px;
}

.line {
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
    border-style: inset;
    border-width: 1px;
}

.listening {
    background: url(../res/logo.png);
    background-size: cover;
    height: 150px;
    width: 150px;
    display: block;
}

.back-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #2b42f7;
    z-index: 1;
}

.arrow {
    position: relative;
    top: 17px;
    left: 19px;
    width: 12px;
    height: 12px;
    border: solid white;
    border-width: 0 4px 4px 0;
}

.arrow-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.toast {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    width: 80%;
    text-align: left;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}
